<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>app.alfred.stephenc.newfolder</string>
	<key>category</key>
	<string>Utilities</string>
	<key>connections</key>
	<dict>
		<key>035E9E10-A626-465F-B6D3-80FA8C7737ED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CC61699D-9F61-4C04-A45F-A08D50D4FE7F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>_button1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AB328EFF-D798-499C-8C6F-15F6C3DC19E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>_button2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>14BA2818-5A45-4E92-B83E-7EB9F258745D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>035E9E10-A626-465F-B6D3-80FA8C7737ED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4B25FCAD-7CE1-427B-A0B2-CEF19B8AD2A8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C397974C-DBC3-4812-B21B-33D81B5CEAC7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4EC93F82-562B-45BF-A3D5-3484C800B83A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>83005E59-C209-45BD-915A-268C68C00A34</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>744BDB7F-96AC-46B2-9335-487214C37E94</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>14BA2818-5A45-4E92-B83E-7EB9F258745D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8097F2D6-9BCE-48F2-8826-FCFC46BB1746</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A45E229A-ABE2-4132-B546-E5C90AA8D018</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>83005E59-C209-45BD-915A-268C68C00A34</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>744BDB7F-96AC-46B2-9335-487214C37E94</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8640BBA9-4109-4C6A-BE9E-FBECED8D1667</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FE8A52E7-B5A1-4E56-B738-4C987240568B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A45E229A-ABE2-4132-B546-E5C90AA8D018</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A631C35E-8E6C-486E-9AA7-121657FA6EB7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A631C35E-8E6C-486E-9AA7-121657FA6EB7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DE1EAABE-A7F0-452B-98EE-7CBC3198919D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AB328EFF-D798-499C-8C6F-15F6C3DC19E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F4295EBD-EE96-413F-B735-9F5018D89AC1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C397974C-DBC3-4812-B21B-33D81B5CEAC7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4EC93F82-562B-45BF-A3D5-3484C800B83A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CC61699D-9F61-4C04-A45F-A08D50D4FE7F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8097F2D6-9BCE-48F2-8826-FCFC46BB1746</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DE1EAABE-A7F0-452B-98EE-7CBC3198919D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>49FFF285-F87C-4F0C-8DDE-62914178BDD2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F4295EBD-EE96-413F-B735-9F5018D89AC1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>515B8E57-BA12-4586-98C0-97B29C35E99A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FE8A52E7-B5A1-4E56-B738-4C987240568B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4B25FCAD-7CE1-427B-A0B2-CEF19B8AD2A8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Stephen Christy</string>
	<key>description</key>
	<string>Make a new folder in this folder</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>New folder</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/directory.new</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>8097F2D6-9BCE-48F2-8826-FCFC46BB1746</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>overwrite</key>
					<true/>
					<key>save_in</key>
					<string>{var:newFolderPath}</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/finder.move</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>DE1EAABE-A7F0-452B-98EE-7CBC3198919D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>The new folder {var:newFolderPath} has been created and the selected file(s) moved to it</string>
				<key>title</key>
				<string>New folder created</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>49FFF285-F87C-4F0C-8DDE-62914178BDD2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>What would you like to call the new folder?</string>
				<key>text</key>
				<string>Name of new folder?</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>83005E59-C209-45BD-915A-268C68C00A34</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/path.dirname</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>C397974C-DBC3-4812-B21B-33D81B5CEAC7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/argument-processing/argument.leading.1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>4B25FCAD-7CE1-427B-A0B2-CEF19B8AD2A8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<true/>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>acceptstext</key>
				<false/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Make new folder in this folder</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>8640BBA9-4109-4C6A-BE9E-FBECED8D1667</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:newFolderPath}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CC61699D-9F61-4C04-A45F-A08D50D4FE7F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:theInput}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A45E229A-ABE2-4132-B546-E5C90AA8D018</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>	</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>1</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>A631C35E-8E6C-486E-9AA7-121657FA6EB7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>button1</key>
				<string>Yes</string>
				<key>button2</key>
				<string>No</string>
				<key>button3</key>
				<string></string>
				<key>description</key>
				<string>Do you want to move the selected file(s) to the new folder?</string>
				<key>title</key>
				<string>Move the selected file(s) to new folder?</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.dialog</string>
			<key>uid</key>
			<string>035E9E10-A626-465F-B6D3-80FA8C7737ED</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>newFolderPath</key>
					<string>{var:basePath}/{var:newFolderName}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>14BA2818-5A45-4E92-B83E-7EB9F258745D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>theInput</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>FE8A52E7-B5A1-4E56-B738-4C987240568B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>basePath</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4EC93F82-562B-45BF-A3D5-3484C800B83A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>newFolderName</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>744BDB7F-96AC-46B2-9335-487214C37E94</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>The new folder {var:newFolderPath} has been created</string>
				<key>title</key>
				<string>New folder created</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>515B8E57-BA12-4586-98C0-97B29C35E99A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/directory.new</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>F4295EBD-EE96-413F-B735-9F5018D89AC1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:newFolderPath}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>AB328EFF-D798-499C-8C6F-15F6C3DC19E1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># What the workflow does

When you select one or more files in a folder and use your Universal Action hotkey one of the Universal Actions available will be `Make new folder in this folder`. You can then run this workflow which will create a new folder in the current folder with a name you choose. The workflow will offer you the option of moving the selected file(s) to the new folder.

# Note

As this workflow uses Automation Tasks please ensure your Automation Tasks are updated to the current version before running the workflow.

# Usage

Select one of more files in a folder. (Note that you must select at least one file in order for Alfred to know where he is.) Run the workflow from your Universal Actions hotkey and when prompted:
- provide a name for the new folder; and
- choose whether or not to move the selected file(s) to it.

![New folder](Images/The UA.png)

![New folder](Images/Name prompt.png)

![New folder](Images/Move prompt.png)</string>
	<key>uidata</key>
	<dict>
		<key>035E9E10-A626-465F-B6D3-80FA8C7737ED</key>
		<dict>
			<key>note</key>
			<string>Move file(s) to new folder?</string>
			<key>xpos</key>
			<real>1206</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>14BA2818-5A45-4E92-B83E-7EB9F258745D</key>
		<dict>
			<key>note</key>
			<string>Create new folder path variable by combining (2) &amp; (3)</string>
			<key>xpos</key>
			<real>1065</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>49FFF285-F87C-4F0C-8DDE-62914178BDD2</key>
		<dict>
			<key>note</key>
			<string>A reassuring little notification</string>
			<key>xpos</key>
			<real>2015</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>4B25FCAD-7CE1-427B-A0B2-CEF19B8AD2A8</key>
		<dict>
			<key>note</key>
			<string>…just in case more than one file is selected</string>
			<key>xpos</key>
			<real>325</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>4EC93F82-562B-45BF-A3D5-3484C800B83A</key>
		<dict>
			<key>note</key>
			<string>Set the base path variable (2)</string>
			<key>xpos</key>
			<real>670</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>515B8E57-BA12-4586-98C0-97B29C35E99A</key>
		<dict>
			<key>note</key>
			<string>A reassuring little notification</string>
			<key>xpos</key>
			<real>1590</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>744BDB7F-96AC-46B2-9335-487214C37E94</key>
		<dict>
			<key>note</key>
			<string>Set the new folder name variable (3)</string>
			<key>xpos</key>
			<real>935</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>8097F2D6-9BCE-48F2-8826-FCFC46BB1746</key>
		<dict>
			<key>note</key>
			<string>Create the new folder</string>
			<key>xpos</key>
			<real>1435</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>83005E59-C209-45BD-915A-268C68C00A34</key>
		<dict>
			<key>note</key>
			<string>Ask for name of new folder</string>
			<key>xpos</key>
			<real>765</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>8640BBA9-4109-4C6A-BE9E-FBECED8D1667</key>
		<dict>
			<key>note</key>
			<string>The Universal Action (limited to files)</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>A45E229A-ABE2-4132-B546-E5C90AA8D018</key>
		<dict>
			<key>note</key>
			<string>Pass on the file variable (1)</string>
			<key>xpos</key>
			<real>1620</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>A631C35E-8E6C-486E-9AA7-121657FA6EB7</key>
		<dict>
			<key>note</key>
			<string>Split files if more than one</string>
			<key>xpos</key>
			<real>1755</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>AB328EFF-D798-499C-8C6F-15F6C3DC19E1</key>
		<dict>
			<key>note</key>
			<string>Pass on new folder path</string>
			<key>xpos</key>
			<real>1340</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>C397974C-DBC3-4812-B21B-33D81B5CEAC7</key>
		<dict>
			<key>note</key>
			<string>Get the path of the current folder</string>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>CC61699D-9F61-4C04-A45F-A08D50D4FE7F</key>
		<dict>
			<key>note</key>
			<string>Pass on new folder path</string>
			<key>xpos</key>
			<real>1340</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>DE1EAABE-A7F0-452B-98EE-7CBC3198919D</key>
		<dict>
			<key>note</key>
			<string>Move original file(s) to new folder</string>
			<key>xpos</key>
			<real>1860</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>F4295EBD-EE96-413F-B735-9F5018D89AC1</key>
		<dict>
			<key>note</key>
			<string>Create the new folder</string>
			<key>xpos</key>
			<real>1435</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>FE8A52E7-B5A1-4E56-B738-4C987240568B</key>
		<dict>
			<key>note</key>
			<string>Save file(s) as a variable (1)</string>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
